body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        textarea {
            width: 450px;
            height: 150px;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
            resize: none; /* Desativa o redimensionamento */
        }
        button {
            padding: 10px 20px;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        button:hover {
            background-color: #0056b3;
        }
        {
            display: flex;
        }


    



  
